@model Usuario

    <div class="container ">
        <form method="post">
            <fieldset>
                <legend>Dados do Endereço</legend>
                @* Mostra a mensagem de erro para o usuário *@
                <div asp-validation-summary="ModelOnly" class="text-primary"></div>
                <div class="form-group">
                    <label asp-for="Endereco.Cep"></label>
                    <input type="text" class="form-control" asp-for="Endereco.Cep" />
                </div>
                <input type="submit" class="btn btn-info" value="Buscar" asp-action="BuscarCep" asp-controller="Usuario" />

                <div class="form-group" id="Logradouro">
                    <label asp-for="Endereco.Logradouro"></label>
                    <input type="text" class="form-control" asp-for="Endereco.Logradouro" readonly="" />
                </div>

                <div class="form-group" id="Logradouro">
                    <label asp-for="Endereco.Bairro"></label>
                    <input type="text" class="form-control" asp-for="Endereco.Bairro" readonly="" />
                </div>

                <div class="form-group" id="Logradouro">
                    <label asp-for="Endereco.Localidade"></label>
                    <input type="text" class="form-control" asp-for="Endereco.Localidade" readonly="" />
                </div>

                <div class="form-group" id="Logradouro">
                    <label asp-for="Endereco.UF"></label>
                    <input type="text" class="form-control" asp-for="Endereco.UF" readonly="" />
                </div>
            </fieldset>
        </form>
    </div>