@model Produto

<div class="container ">
    <form asp-action="Alterar" method="post">
        <fieldset>
            <legend>Alterar produto</legend>
            <div class="form-group">
                <input type="hidden"  asp-for="ProdutoId" id="hdnID" />
            </div>
            <div class="form-group">
                <label for="Id">Id:</label>
                <input type="text" class="form-control" asp-for="ProdutoId" id="id" readonly="" />
            </div>
            <div class="form-group">
                <label>Nome:</label>
                <input type="text" class="form-control" required asp-for="Nome" id="nome" />
            </div>
            <div class="form-group">
                <label>Descrição:</label>
                <input type="text" class="form-control" required asp-for="Descricao" id="descricao" />
            </div>
            <div class="form-group">
                <label>Preço:</label>
                <input type="text" class="form-control" required asp-for="Preco" id="preco" />
            </div>
            <div class="form-group">
                <label>Quantidade:</label>
                <input type="text" class="form-control" required asp-for="Quantidade" id="quantidade" />
            </div>
            <input type="submit" class="btn btn-primary" value="Salvar" />
        </fieldset>
    </form>
</div>
