@*tipagem
    asp-for="" troca o name do Html    
*@
@model Produto
<div class="container ">
    <form asp-action="Cadastrar" method="post">
        <fieldset>
            <legend>Cadastrar produto</legend>
            @* Mostra a mensagem de erro para o usuário *@
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Nome"></label>
                <input type="text" class="form-control" asp-for="Nome" id="nome" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Descricao"></label>
                <input type="text" class="form-control" asp-for="Descricao" id="descricao" />
                <span asp-validation-for="Descricao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Preco"></label>
                <input type="text" class="form-control" asp-for="Preco" id="preco" />
                <span asp-validation-for="Preco" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Quantidade"></label>
                <input type="text" class="form-control" asp-for="Quantidade" id="quantidade" />
                <span asp-validation-for="Quantidade" class="text-danger"></span>
            </div>
            <div id="Categoria" class="form-group">
                <label>Categoria:</label>
                <select asp-items="@ViewBag.Categorias"
                        class="form-control" name="drpCategorias">
                    <option> -- SELECIONE -- </option>
                </select>
            </div>
            <input type="submit" class="btn btn-primary" value="Cadastrar" />

        </fieldset>
    </form>
</div>