
<div class="container ">
    <form asp-action="Cadastrar" method="post">
        <fieldset>
            <legend>Cadastrar produto</legend>
            <div class="form-group">
                <label>Nome:</label>
                <input type="text" class="form-control" required name="txtNome" id="nome" />
            </div>
            <div class="form-group">
                <label>Descrição:</label>
                <input type="text" class="form-control" required name="txtDescricao" id="descricao" />
            </div>
            <div class="form-group">
                <label>Preço:</label>
                <input type="text" class="form-control" required name="txtPreco" id="preco" />
            </div>
            <div class="form-group">
                <label>Quantidade:</label>
                <input type="text" class="form-control" required name="txtQuantidade" id="quantidade" />
            </div>
            <input type="submit" class="btn btn-primary" value="Cadastrar" />

        </fieldset>
    </form>


</div>